.header-main {
    background: #f3f7f9;
    min-height: 50px;
    margin: 0px;
    border: 1px solid black;
}

.header-left-ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;

}

.header-item > a {
    color: black;
    padding: 17px 20px 15px;
    text-decoration: none;
    float: left;
}

.header-right  {
    float: right;
    padding: 17px 20px 15px;
}

.header-button > a{
    color: white;
    text-decoration: none;
    padding: 17px 20px 15px;
    background: #4867c0;
    background-image: linear-gradient(to right, #4867c0, #329fec);
}

.header-item:hover > a {
    background: #4867c0;
    background-image: linear-gradient(to right, #4867c0, #329fec);
    color: white;
}