.autorization {
    background: whitesmoke;
    position: relative ;
    margin: 0 auto;
    width: 350px;
    padding: 15px;
}

input {
    width: 335px;
    margin-top: 10px;
    border: 1px solid blue;
    height: 20px;
    padding: 5px;
}

input.massage {
    height: 100px;
}

button {
    background: green;
    width: 350px;
    color: whitesmoke;
    font-style: italic;
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
    border: 2px solid green;
}

h1 {
    font-style: italic;
    color: gray;
    margin: 5px;
}

p {
    font-style: italic;
    color: gray;
    font-size: medium;
    margin: 5px;
}